################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RestaurantAlimentos/v16
/.vs/RestaurantAlimentos/config
