@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.company.CompanyName</h1>
    <p>Hey it is @Model.company.Date & here is what you can eat with us</p>
    
</div>
