@page
@model RestaurantAlimentos.Pages.Forms.ContactUsModel
@{      ViewData["Title"] = "Restaurant Alimentos - ContactUs";
}
<h1>Contact Us</h1>
<hr />
<p>Please feel free to reach out us on <PhoneNumber>@Model.company.CompanyPhoneNumber </PhoneNumber> or email us on <Mailto><a> @Model.company.EmailAddress</a> </Mailto></p>
