@page
@model RestaurantAlimentos.Pages.Forms.ReservationConfirmedModel
@{
    ViewData["Title"] = "Restaurant Alimentos - ReservationConfirmed Page";
}


<div class="text-center">
    <p>Thank you for confirming your booking, we are looking foward to hosting you 😀.</p>
                  <p><a asp-page="/index">Go Home</a></p>
</div>
