@page
@model RestaurantAlimentos.Pages.Forms.SuppliersModel
@{
    ViewData["Title"] = "Restaurant Alimentos - Suppliers Page";
}
<h1>Our Suppliers</h1>


<table class="table table-striped">

    <tbody>
        @foreach (var supplier in Model.supplier.OurSuppliers)
        {
            <tr>
             
                <td>@supplier</td>
             
            </tr>

        }

    </tbody>
</table>