@page
@model RestaurantAlimentos.Pages.Forms.SuppliersModel
@{
    ViewData["Title"] = "Restaurant Alimentos - Suppliers Page";
}
<h1>Our Suppliers</h1>


<section class="Supplier-list">
    <table class="table table-striped">

        <tbody>
            @foreach (var supplier in Model.BrandNames)
            {
                <tr>
                    <td>@supplier.SupplierName</td>
                </tr>
            }

        </tbody>
    </table>
</section>
